# carpetas
__pycache__/
db_tries
.vscode
.pytest_cache

# archivos .py
test.py
*tries.py

# archivos innecesarios
py_to_exe_config.json
*.drawio
*.drawio.bkp
ui/_debts_table_scheme.png

# archivos de compilación
*.o
*.pyc
*.class

# archivos temporales/de tiempos de ejecución
*.log
*.tmp